.listHeader {
	background-color: var(--tertiary-bg);
	justify-content: space-between;
	padding: 10px;
	font-size: 1.4rem;
}

.clubTable {
	list-style:none;
	margin: 0px;
}

.club {
	justify-content: space-between;
	font-size: 1.3rem;
	padding: 0.5rem;
}

.hoverText {
	position:absolute;
	border-style:solid;
	padding: 0.5rem;
	background-color: var(--primary-txt);
	color: #FFFFFF;
}

.optionsBar {
	padding: 1rem;
}

.searchBar {
	border-radius: 5px;
	border: 0.5px solid;
	padding: 0.2rem 1rem 0.2rem 0.5rem;
	color: var(--primary-txt)
}

table {
	width: 100vw;
	text-align: center;
	table-layout: fixed;
	border-spacing: 0px;
}

th {
	font-weight: normal;
}