.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	padding: 3rem;
	background-color: #282828;
	border-radius: 1%;
	display:flex;
	flex-direction: column;
	gap: 1rem;
}

.container__form {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem;
}

.container__text--big {
	font-size: 5rem;
}

.container__text {
	color: #FAFDFE;
	font-size: 4rem;
}

.container__input {
	padding: 1rem;
	border-radius: 0.2rem;
	border:none;
	outline: #aeb0b1 solid 1px;
	background-color: #282828;
	color: #FAFDFE;
	font-size: 2rem;
}

.container__input::placeholder {
	color: #d8d8d8;
	font-weight: 300;
}

.container__input:focus {
	outline: #ffffff solid 1px;

}

.container__btn {
	font-size: 2rem;
	border-radius: 0.5em;
	padding: 1rem;
	color: #282828;
	cursor:pointer;
	border:none;
}

.container__btn--submit {
	background-color: #a7a7a7;
}

.container__btn--submit:hover {
	background-color: #dfdfdf;
}

.container__btn--submit:focus {
	outline:none;
	background-color: #dfdfdf;
}