.signin {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	padding: 3rem;
	background-color: #282828;
	border-radius: 1%;
	display:flex;
	flex-direction: column;
	gap: 1rem;
}

.signin__form {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem;
}

.signin__text--big {
	font-size: 5rem;
	text-align: center;
}

.signin__text {
	color: var(--primary-txt);
	font-size: 4rem;
}

.signin__error {
	color: red;
	font-size: 1.2rem;
}

.signin__input {
	padding: 1rem;
	border-radius: 0.2rem;
	border:none;
	outline: #aeb0b1 solid 1px;
	background-color: #282828;
	color: #FAFDFE;
	font-size: 2rem;
}

.signin__input::placeholder {
	color: #d8d8d8;
	font-weight: 300;
}

.signin__input:focus {
	outline: #ffffff solid 1px;

}

.signin__btn {
	font-size: 2rem;
	border-radius: 0.5em;
	padding: 1rem;
	color: #282828;
	cursor:pointer;
	border:none;
}

.signin__btn--submit {
	background-color: #FAFDFE;
}

.signin__btn--submit:hover {
	background-color: #dfdfdf;
}

.signin__btn--submit:focus {
	outline:none;
	background-color: #dfdfdf;
}