.nav {
	background-color: var(--primary-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.7rem 1rem 1.7rem;
	background-color: #282828;
}

.nav__container {
	display: flex;
	align-items: center;
	gap: 5rem;
}

.nav__logo {
	color: #F8F8F8;
	font-weight: 400;
	text-decoration: none;
	font-size: 2.2rem;
}

.nav__tabs {
	display:flex;
	gap: 3rem;
	align-items: center;
}

.nav__tab {
	font-size: 1.7rem;
	text-decoration: none;
}

.nav__tab:hover {
	color: #F8F8F8;
}

.nav__tab--selected {
	color: #F8F8F8;
}

.nav__tab--unselected {
	color: #ACACAC;
}

.nav__login-bar {
	display: flex;
	gap: 2rem;
}

.login-bar__text {
	color: #ACACAC;
	font-size: 1.5rem;
	text-decoration: none;
}

.login-bar__text:hover {
	color: #F8F8F8;
}

.nav__account {
	background: none;
	border: none;
	color: #F8F8F8;
	font-size: 1.5rem;
	text-decoration: none;
}

.nav__account:hover {
	cursor:pointer;
}

.nav__account--selected {
	color: #F8F8F8;
}

.account__avatar {
	border-radius: 100%;
	width: 3rem;
}
.account__dropdown {
	position: absolute;
	background-color: #282828;
	display:flex;
	flex-direction: column;
	padding:1rem;
}

.account__text {
	text-decoration: none;
	color: #ACACAC;
}

.account__text:hover {
	text-decoration: none;
	color: #F8F8F8;
}