.nav {
	background-color: var(--primary-bg);
	display: flex;
	gap: 3rem;
	align-items: center;
	padding: 1rem 1.7rem 1rem 1.7rem;
	background-color: #282828;
}

.nav__logo {
	color: #F8F8F8;
	font-size: 2.2rem;
}

.nav__tabs {
	display: flex;
	gap: 3rem;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 2;
}

.nav__tab {
	font-size: 1.7rem;
	transition: color 0.3s ease-in-out;
}

.nav__tab:hover {
	color: #F8F8F8;
}

.nav__tab--selected {
	color: #F8F8F8;
}

.nav__tab--unselected {
	color: #ACACAC;
}

.nav__login-bar {
	display: flex;
	gap: 2rem;
}

.login-bar__text {
	color: #ACACAC;
	font-size: 1.5rem;
	transition: color 0.3s ease-in-out;
}

.login-bar__text:hover {
	color: #F8F8F8;
}

.nav__account {
	background: none;
	border: none;
	color: #F8F8F8;
	font-size: 1.5rem;
}

.account__avatar {
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
}

.account__dropdown {
	position: absolute;
	background-color: #282828;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	right: 0.5rem;
	border-radius: 0.2rem;
}

.account__text {
	color: #ACACAC;
	transition: color 0.3s ease-in-out;
}

.account__text:hover {
	color: #F8F8F8;
}