:root {
	--primary-bg: #0D0B48;
	--secondary-bg: #FFC423;
	--tertiary-bg: #EDEDED;
	--primary-txt: #0E0E0E;
}

.header {
	background-color: var(--primary-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	font-size: 2rem

}

.logo {
	color: var(--secondary-bg);
	font-weight: 400;
}
.white-font {
	color: #FFFFFF;
}

.tabs {
	display:flex;
	gap: 3rem;
	align-items: center;
}

.tab-selected {
	color: #FFFFFF;
}

.tab-unselected {
	color: #ACACAC;
}

.sign-reg {
	font-size: 1.5rem;
	display: flex;
	gap: 2rem;
}

.bubble {
	background-color: #E2E2E2;
	color: #0E0E0E;
	padding: 0.5rem 3rem 0.5rem 3rem;
	border-radius: 50px;
	font-weight: 500;
}

.listHeader {
	display:flex;
	background-color: var(--tertiary-bg);
	box-shadow: 0px 1px 10px;
	justify-content: space-between;
	padding: 10px;
	font-size: 1.4rem;
}

.clubList {
	list-style:none;
	padding: 0px 1.4rem 0px 1.4rem;
	display: grid;
}

.club {
	display: flex;
	justify-content: space-between;
}